<div id="{{ tabs_id }}"{{ attributes }} class="blocktabs accordion">

{% for tab in tabs %}
  <h3 class="accordion-title">{{ tab.title }}</h3>
  <div class="accordion-content">{{ tab.content }}</div>
{% endfor %}

</div>

