

<div id="{{ tabs_id }}"{{ attributes }} class="blocktabs vertical ui-tabs-vertical">
<ul>
{% for tab in tabs %}
<li><a href="#{{ tab.id }}">{{ tab.title }}</a></li>
{% endfor %}
</ul>

{% for tab in tabs %}
<div id="{{ tab.id }}">{{ tab.content }}</div>
{% endfor %}

</div>

